{% extends 'Base.html' %}

{% block title %}Courses{% endblock %}

{% block content %}
  {% include 'components/Navbar.html' %}
  {% include 'components/Sidebar.html' %}
  <div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
      {% include 'components/Breadcumb.html' with current_page='courses' %}
      {% include 'components/Divider.html' with divider='Today'  %}
      <div class="mx-auto w-1/3 overflow-x-auto">
        {% include 'components/Carousel.html'   %}
      </div>
      {% include 'components/Divider.html' with divider='Incoming'  %}
      <div class="mx-auto w-1/3 overflow-x-auto">
        {% include 'components/Carousel.html'   %}
      </div>
    </div>

    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-6">
    </div>
  </div>
{% endblock %}